<div class="collections-container">

    <!-- Cards -->
    <div class="collections-grid">



        <!-- Card 01 -->
        <article class="collection-card">
            <div class="collection-icon">
                <img src="assets/images/svg/NewArrivals_SVG.svg" class="icon-default" alt="New Arrivals">
                <img src="assets/images/svg/Signature_SVG.svg" class="icon-hover" alt="New Arrivals">
            </div>

            <h6 class="h6">New Arrivals</h6>
            <p>Discover our latest blends hand-picked and freshly packed.</p>
        </article>


        <!-- Card 02 -->
        <article class="collection-card">
            <div class="collection-icon">
                <img src="assets/images/svg/Signature_SVG.svg" class="icon-default" alt="New Arrivals">
                <img src="assets/images/svg/GiftCollection_SVG.svg" class="icon-hover" alt="New Arrivals">
            </div>

            <h6 class="h6">Signature Teas</h6>
            <p>Experience our premium range curated from the finest gardens.</p>
        </article>


        <!-- Card 03 -->
        <article class="collection-card">
            <div class="collection-icon">
                <img src="assets/images/svg/GiftCollection_SVG.svg" class="icon-default" alt="New Arrivals">
                <img src="assets/images/svg/NewArrivals_SVG.svg" class="icon-hover" alt="New Arrivals">
            </div>

            <h6 class="h6">Gift Collection</h6>
            <p>Share the joy of tea with beautifully wrapped gift sets.</p>
        </article>


    </div>

</div>