<footer class="footer">

  <div class="footer-main container ">

    <div class="footer-main-top">
      <!-- Brand / About -->
      <div class="footer-column-top ">
        <img class="footer-logo" src="" alt="" srcset="">
        <p class="p-s">
          Friends let friends know about best products and content
        </p>

        <form class="email-subscribe">
          <input type="email" placeholder="Enter email address" required>
          <button type="submit" aria-label="Subscribe">
            <svg viewBox="0 0 24 24">
              <path
                d="M16.6915026,12.4744748 L3.50612381,13.2599618 C3.19218622,13.2599618 3.03521743,13.4170592 3.03521743,13.5741566 L1.15159189,20.0151496 C0.8376543,20.8006365 0.99,21.89 1.77946707,22.52 C2.41,22.99 3.50612381,23.1 4.13399899,22.8429026 L21.714504,14.0454487 C22.6563168,13.5741566 23.1272231,12.6315722 22.9702544,11.6889879 L4.13399899,1.16584766 C3.34915502,0.9 2.40734225,0.9 1.77946707,1.4770584 C0.994623095,2.0541167 0.837654326,3.0967011 1.15159189,3.88219806 L3.03521743,10.3231911 C3.03521743,10.4802885 3.19218622,10.6373859 3.50612381,10.6373859 L16.6915026,11.4228728 C16.6915026,11.4228728 17.1624089,11.4228728 17.1624089,11.0529365 L17.1624089,12.3673774 C17.1624089,12.3673774 17.1624089,12.4744748 16.6915026,12.4744748 Z" />
            </svg>
          </button>
        </form>

        <div class="top-social">
          <!-- Social Links -->
          <ul class="footer-social-top">
            <li><a href="https://facebook.com">Facebook</a></li>
            <li><a href="https://x.com"></a>Instagram</li>
            <li><a href="https://tiktok.com"></a>LinkdIn</li>
            <li><a href="https://youtube.com"></a>Youtube</li>
          </ul>
        </div>

      </div>
      <div class="footer-column-bottom">
        <div class="footer-links">
          <!-- Discover -->
          <div class="link-tabs">
            <h6>Discover</h6>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="story.html">Our Story</a></li>
              <li><a href="blogs.html">Blogs</a></li>
            </ul>
          </div>

          <!-- Support -->
          <div class="link-tabs">
            <h6>Shop</h6>
            <ul>
              <li><a href="#">Amazon</a></li>
              <li><a href="#">Wholesale</a></li>
              <li><a href="#">Uber Eats</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>

          <!-- Support -->
          <div class="link-tabs">
            <h6>Support</h6>
            <ul>
              <li><a href="contact.html">Contact us</a></li>
              <li><a href="#">Wholesale</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="location">
          <div class="location-section-01">
            <!-- Locations -->
            <div class="link-tabs">
              <h6>Sri Lanka</h6>
              <p class="p-s">
                No 43, Mulleriyawa North,<br> Mulleriyawa,<br> Sri Lanka
              </p>
            </div>
            <!-- Locations -->
            <div class="link-tabs">
              <h6>USA</h6>
              <p class="p-s">
                Samley Teas USA LLC,<br> 1032 Brandon Blvd,<br> Brandon FL, 33511
              </p>
            </div>
            <div class="link-tabs sp">
              <h6>Russia</h6>
              <p class="p-s">
                191002 Russian Federation St Petersburg CIty, Shchebakov Lane House 12 LIT, A Room 1-N Part Number 30
                Office 224 B
              </p>
            </div>
          </div>
          <!-- Locations -->
          <div class="link-tabs-secondary">
            <h6>Russia</h6>
            <p class="p-s">
              191002 Russian Federation St <br> Petersburg CIty, Shchebakov Lane <br> House 12 LIT, A Room 1-N Part <br>
              Number 30 Office 224 B
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- Divider -->
    <hr class="footer-divider" />

    <div class="footer-main-bottom">
      <h1>SAMLEY</h1>
      <p>© SAMLEY 2015</p>
    </div>

  </div>

  <!-- Bottom Footer -->
  <div class="footer-bottom container">


    <!-- Social Links -->
    <ul class="footer-social">
      <li><a href="https://facebook.com"><i class="bi bi-facebook"></i></a></li>
      <li><a href="https://x.com"><i class="bi bi-twitter-x"></i></a></li>
      <li><a href="https://tiktok.com"><i class="bi bi-tiktok"></i></a></li>
      <li><a href="https://youtube.com"><i class="bi bi-youtube"></i></a></li>
    </ul>

    <p class="p-l text-center">
      © 2025 Samley. All rights reserved.
    </p>

  </div>

</footer>