<div class="instagram-container">

  <div class="instagram-header ">
    <div>
      <h2 class="h2">Our Instagram Feed</h2>
    </div>
    <p class="p-l">Follow us on Instagram</p>
  </div>

  <!-- Feed Wrapper -->
  <div class="instagram-feed-wrapper">
    <!-- Carousel -->
    <div class="instagram-carousel" id="instagramCarousel">
      <div class="instagram-cards-wrapper" id="cardsWrapper">
        <div class="instagram-card" id="instagram-post01"></div>
        <div class="instagram-card" id="instagram-post02"></div>
        <div class="instagram-card" id="instagram-post03"></div>
        <div class="instagram-card" id="instagram-post04"></div>
        <div class="instagram-card" id="instagram-post05"></div>
      </div>
    </div>
  </div>


</div>