/* --------------- Hero Section --------------------- */
/* --------------------------------------------------  */

/* =========================
   Smallest devices and all (≥0)
   ========================= */
.hero {
    height: 87dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.678);
    position: relative;
    overflow: hidden;
}

/* Background video */
.hero-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

/* Dark overlay */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: #000000;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.69) 2%, rgba(0, 0, 0, 0.48) 49%, rgba(0, 0, 0, 0.42) 100%);
    z-index: 1;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5vh;

    position: relative;
    z-index: 2;
}

.hero_para {
    display: none;
    color: var(--color-text-white);
}

.hero_head {
    display: none;
    color: var(--color-text-white);
}

.hero_head_mobile {
    color: var(--color-text-white);
}

.hero_button_content {
    display: none;
}

.hero_down_content {
    padding-top: 45px;
}

/*background*/
#hero_contact {
    background-image: url(/assets/images/hero/Contact_Cover_M.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero_story {
    background-image: url(/assets/images/hero/OurStory_Cover_M.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero_blogs {
    background-image: url(/assets/images/hero/Blogs_Cover_M.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 475px) {

    /*Hero Section*/
    .hero {
        height: 85dvh;
        max-height: 708px;
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: rgba(0, 0, 0, 0.678);
    }

    /* Dark overlay */
    .hero-overlay {
        position: absolute;
        inset: 0;
        background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.49) 65%, rgba(0, 0, 0, 0.18) 100%);
        z-index: 1;
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 5vh;
    }

    .hero_para {
        display: inline;
        color: var(--color-text-white);
    }

    .hero_head {
        display: inline;
        color: var(--color-text-white);
    }

    .hero_head_mobile {
        display: none;
    }

    .hero_button_content {
        display: flex;
        justify-content: center;
        height: fit-content;
        width: 100%;
        gap: 30px;
        padding-top: 45px;
    }

    .hero_down_content {
        padding-top: 35px;
        width: 40px;
    }

    /*Background*/

    #hero_contact {
        background-image: url(/assets/images/hero/Contact_Cover.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #hero_story {
        background-image: url(/assets/images/hero/OurStory_Cover.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #hero_blogs {
        background-image: url(/assets/images/hero/Blogs_Cover.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}