/* --------------- Hero Section --------------------- */
/* --------------------------------------------------  */

/* =========================
   Smallest devices and all (≥0)
   ========================= */
.hero {
    height: 87dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.678);
    position: relative;
    overflow: hidden;
}

/* Background video */
.hero-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

/* Dark overlay */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: #000000;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.69) 2%, rgba(0, 0, 0, 0.48) 49%, rgba(0, 0, 0, 0.42) 100%);
    z-index: 1;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5vh;

    position: relative;
    z-index: 2;
}

.hero_para {
    display: none;
    color: var(--color-text-white);
}

.hero_head {
    display: none;
    color: var(--color-text-white);
}

.hero_head_mobile {
    color: var(--color-text-white);
}

.hero_button_content {
    display: none;
}

.hero_down_content {
    padding-top: 45px;
}

/*background*/
#hero_contact {
    background-image: url(../images/hero/Contact_Cover_M.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero_story {
    background-image: url(../images/hero/OurStory_Cover_M.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero_blogs {
    background-image: url(../images/hero/Blogs_Cover_M.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 475px) {

    /*Hero Section*/
    .hero {
        height: 85dvh;
        max-height: 750px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: rgba(0, 0, 0, 0.678);
    }

    /* Dark overlay */
    .hero-overlay {
        position: absolute;
        inset: 0;
        background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.49) 65%, rgba(0, 0, 0, 0.18) 100%);
        z-index: 1;
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 5vh;
    }

    .hero_para {
        display: inline;
        color: var(--color-text-white);
    }

    .hero_head {
        display: inline;
        color: var(--color-text-white);
    }

    .hero_head_mobile {
        display: none;
    }

    .hero_button_content {
        display: flex;
        justify-content: center;
        height: fit-content;
        width: 100%;
        gap: 30px;
        padding-top: 45px;
    }

    .hero_down_content {
        padding-top: 35px;
        width: 40px;
    }

    /*Background*/

    #hero_contact {
        background-image: url(../images/hero/Contact_Cover.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #hero_story {
        background-image: url(../images/hero/OurStory_Cover.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #hero_blogs {
        background-image: url(../images/hero/Blogs_Cover.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

/* --------------- Instagram-feed Section --------------------- */
/* --------------------------------------------------  */

.instagram-container {
    width: 100%;
    padding: 30px 0 30px 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.instagram-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--color-bg-white);
}

.instagram-header div p {
    display: none;
}

.instagram-header div h2 {
    color: var(--color-text-secondary);
}

.instagram-header div p {
    color: var(--color-bg-black);
}

.instagram-feed-wrapper {
    width: 100%;
}

.instagram-carousel {
    overflow-x: auto;
    scroll-behavior: smooth;
}

.instagram-carousel::-webkit-scrollbar {
    display: none;
}

.instagram-cards-wrapper {
    width: max-content;
    height: max-content;
    display: flex;
    gap: 16px;
    padding: 10px 30px 10px 0px;
}

.instagram-card {
    width: 65vw;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}


/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 480px) {
    .instagram-container {
        padding: 30px 24px 30px 24px;
    }

    .instagram-header {
        width: 100%;
    }

    .instagram-header div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .instagram-header div p {
        display: block;
    }

    .instagram-feed-wrapper {
        width: 100%;
    }

    .instagram-carousel {
        width: 100%;
    }

    .instagram-cards-wrapper {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 10px 0px;
    }

    .instagram-card {
        width: 30%;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
        background-color: aqua;
    }
}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {
    .instagram-container {
        padding: 30px 36px 30px 36px;
    }
}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .instagram-container {
        padding: 80px 80px 80px 80px;
    }
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .instagram-container {
        padding: 80px 80px 80px 80px;
    }
}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {
    .instagram-container {
        padding: 80px 100px 80px 100px;
    }
}

/*Post*/
#instagram-post01 {
    background-image: url(../images/instagram/post01.jpg);
    background-size: cover;
}

#instagram-post02 {
    background-image: url(../images/instagram/post02.jpg);
    background-size: cover;
}

#instagram-post03 {
    background-image: url(../images/instagram/post03.jpg);
    background-size: cover;
}

#instagram-post04 {
    background-image: url(../images/instagram/post04.jpg);
    background-size: cover;
}

#instagram-post05 {
    background-image: url(../images/instagram/post05.jpg);
    background-size: cover;
}

/* --------------- Collections-highlight Section --------------------- */
/* --------------------------------------------------  */
.collections-highlight  {
    padding: 30px 24px;
    height: max-content;
    background-color: #F4FBFB;
    text-align: center;
}
.collections-highlight-white  {
    padding: 30px 24px;
    height: max-content;
    background-color: #ffffff;
    text-align: center;
}

.collections-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
    height: max-content;
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    gap: 12px;
}

.collection-icon {
    position: relative;
    width: 80px;
    height: 80px;
}

.collection-icon img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease;
}

/* Default state */
.icon-hover {
    opacity: 0;
}

/* Hover swap */
.collection-card:hover .icon-default {
    opacity: 0;
}

.collection-card:hover .icon-hover {
    opacity: 1;
}

.collection-card:hover {
    color: var(--color-text-secondary);
    transition: color 0.3s ease;
}

.collection-card:hover {
    color: var(--color-text-secondary);
}

.collection-icon img {
    transition: opacity 0.8s ease, transform 0.25s ease;
}

.collection-card:hover .collection-icon img {
    transform: scale(1.01);
}

.collection-card h6 {
    font-family: var(--font-heading);
}

.collection-card p {
    font-family: var(--font-body);
    font-size: var(--fs-p-s);
}

/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 480px) {
    .collections-highlight-white,.collections-highlight {
        padding: 30px 24px;
    }
}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {
    .collections-highlight-white,.collections-highlight {
        padding: 40px 36px;
    }
}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .collections-highlight-white,.collections-highlight {
        padding: 50px 100px;
    }

    .collections-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
    }

    .collection-card {
        gap: 15px;
    }
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .collections-highlight-white,.collections-highlight {
        padding: 80px 160px;
    }
}


/*Sample*/


/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 480px) {}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {}