/*-------STORY OF SAMLEY----------*/
/*--------------------------------*/

.story-of-samley-index {
    padding: 30px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.story-of-samley-index .head {
    color: var(--color-text-secondary);
    font-weight: 500;
}

.story-of-samley-index p {
    width: 100%;
    padding: 0;
}

.story-of-samley-index .large-para {
    font-size: 18px;
    color: var(--color-text-secondary);
    font-weight: 800;
}

.story-of-samley-index .large-para span {
    color: rgb(201, 201, 201);
}

.story-of-samley-index button {
    display: none;
    margin-top: 30px;
}

/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 576px) {
    .story-of-samley-index {
        padding: 30px 24px;
    }

    .story-of-samley-index button {
        display: block;
        margin-top: 30px;
    }
}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {
    .story-of-samley-index {
        padding: 32px 36px;
    }

}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .story-of-samley-index {
        padding: 60px 80px;
    }

    .story-of-samley-index .large-para {
        font-size: 30px;
        color: var(--color-text-secondary);
        font-weight: 800;
    }

    .story-of-samley-index button {
        margin-top: 30px;
    }
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .story-of-samley-index {
        padding: 60px 80px;
    }
}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {
    .story-of-samley-index {
        padding: 80px 100px;
    }
}

.story-of-samley-index p {
    width: 100%;
    max-width: 900px;
}

/*----------LOGO CAROSAL----------*/
/*--------------------------------*/
.logo-carosal {
    padding: 30px 24px;
    width: 100%;
    background-color: #f4fbfb;
    justify-items: center;
    align-items: center;
}
.logo-carosal .carsol {
    max-width: 1000px;
    width: 100%;
    height: 110px;
    display: flex;
    gap: 20px;
    overflow: scroll;
}
.logo-carosal .img {
    height: 100%;
}

/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 576px) {
    .logo-carosal {
        padding: 30px 24px;
    }
    .logo-carosal .carsol {
    max-width: 1000px;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {
    .logo-carosal {
        padding: 30px 36px;
    }
}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .logo-carosal {
        padding: 30px 80px;
    }
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .logo-carosal {
        padding: 30px 80px;
    }
}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {
    .logo-carosal {
        padding: 30px 100px;
    }
}

/*----------CATEGORY CAROSAL----------*/
/*--------------------------------*/
.category-section {
    width: max-content;
    height: 450px !important;
    width: 100%;
    overflow: scroll;
}
.category-section .category-track {
    width: max-content;
    height: 450px;
    gap: 15px;
    overflow: scroll;
    display: inline-flex;
}
.category-section .category-track .category-card{
    width:80dvw ;
    height: 450px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 15px;
    font-size: var(--fs-p-m);
    color: var(--color-text-white);
    background-size: cover;
    background-position: center;
}
#category-card-01{
    background-image: url(../images/instagram/post01.jpg);
}
#category-card-02{
    background-image: url(../images/instagram/post02.jpg);
}
#category-card-03{
    background-image: url(../images/instagram/post03.jpg);
}
#category-card-04{
    background-image: url(../images/instagram/post04.jpg);
}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 500px) {
.category-section {
    height: max-content;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.category-section .category-track {
    width:100%;
    height: max-content;
    gap: 15px;
    display: flex;
    overflow: hidden;
    max-width: 1440px;
}
    .category-section div .category-card{
    width: 25%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px;
    font-size: var(--fs-p-m);
    color: var(--color-text-white);
    background-size: cover;
    background-position: center;
}
}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .category-section {
    height: 400px;
}
    .category-section div .category-card{
        width: 25%;
    height: 400px;
}

}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .category-section {
    height: 450px;
}
    .category-section div .category-card{
    height: 450px;
}
}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {

}
