.navbar {
    position: relative;
    width: 100%;
    background-color: var(--color-bg-white);
}

.navbar-top {
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
}

.navbar-top p {
    padding: 10px 16px;
}

/*Navbar Main Styles */
.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Navbar Logo */
.navbar-logo {
    width: 112px;
    height: 72px;
    background-color: var(--color-text-black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-white);
}

/* Navbar Menu */
.navbar-menu {
    display: none;
    position: absolute;
    top: 113px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-white);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 12px;
    overflow-y: auto;
    z-index: 999;
}

.navbar-menu.open {
    display: flex;
}

.nav-dropdown {
    position: static;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin-top: 10px;
    display: none;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
}

.nav-dropdown.hidden {
    display: none;
}

.nav-dropdown.show {
    display: flex;
}

.dropdown-inner {
    width: 100%;
    max-width: none;
    margin: 0;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown-card {
    width: auto;
    display: none;
}

.dropdown-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-group .dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20px;
}

.dropdown-group .dropdown-list li a {
    font-size: var(--fs-p-xl);
    text-transform: none;
}

.dropdown-icon {
    transition: transform 0.55s ease;
    color: var(--color-text-black);
}

.navbar-toggle {
    padding: 6px 15px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
    border-radius: 4px;
    font-size: larger;
    border: 1px solid var(--color-text-secondary);
    cursor: pointer;
    z-index: 1001;
}

.navbar-toggle:hover {
    background-color: var(--color-bg-white);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-text-secondary);
}

.navbar-toggle:active {
    background-color: var(--color-bg-primary);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-text-secondary);
}

.nav-item {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.nav-has-dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-title {
    color: var(--color-text-secondary);
    font-family: var(--font-heading);
    font-size: var(--fs-h6);
    font-weight: 500;
    margin: 0;
}

.nav-item a {
    text-transform: uppercase;
    font-size: var(--fs-p-xl);
    color: var(--color-text-black);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0;
}

.nav-item a:hover {
    color: var(--color-text-secondary);
    text-decoration: underline;
}

.active {
    color: var(--color-text-secondary) !important;
    text-decoration: underline;
}

.dropdown-toggle {
    align-self: flex-start;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 0;
    height: 100%;
    transition: transform 0.3s ease;
}

.dropdown-toggle.open {
    transform: rotate(180deg);
}

.contact-btn {
    display: none;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.navbar-toggle .bar {
    width: 22px;
    height: 2px;
    background-color: currentColor;
    transition: all 0.3s ease;
}

/* ACTIVE STATE */
.navbar-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav-dropdown-toggle {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
}

/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 576px) {}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {
    .navbar-menu {

        padding: 40px 36px;
    }

}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-top p {
        padding: 10px 16px;
    }

    /* Navbar Main */
    .navbar-main {
        max-width: 1440px;
        width: 100%;
    }


    /* Navbar Menu */
    .navbar-menu {
        display: flex !important;
        position: relative !important;
        width: max-content !important;
        height: auto !important;
        background-color: transparent !important;
        padding: 0 !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        overflow: visible !important;
        z-index: auto !important;
        top: auto !important;
        left: auto !important;
    }

    .nav-item a {
        font-size: var(--fs-p-s);
    }

    .navbar-toggle {
        display: none;
    }

    .contact-btn {
        display: block;
    }

    .nav-dropdown {
        position: absolute;
        background-color: var(--color-bg-white);
        display: flex;
        width: 88dvw;
        padding: 30px 15%;
        left: 50%;
        transform: translateX(-50%);
        top: 57px !important;
        margin: 0px !important;
        overflow: hidden;
        box-shadow: var(--shadow-md);
        justify-content: center;
        align-items: center;
    }

    .dropdown-inner {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
        max-width: 1440px !important;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: max-content;
        gap: 60px;
    }

    .dropdown-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .dropdown-group .dropdown-list {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px !important;
    }

    .dropdown-group .dropdown-list li a {
        font-size: var(--fs-p-l) !important;
        text-transform: none;
    }

    .dropdown-card {
        display: hidden;
        background-color: gray;
        width: 200px;
        height: 300px;
    }

    .nav-dropdown-toggle {
        display: flex;
        gap: 3px;
        align-items: center !important;
        justify-content: center !important;
    }

    .nav-has-dropdown {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .dropdown-toggle {
        background: none;
        border: none;
        color: var(--color-text-secondary);
        font-size: 25px;
        cursor: pointer;
        height: 100%;
        transition: transform 0.3s ease;
    }

}


/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .dropdown-card {
        display: block;
        background-color: gray;
        width: 200px;
        height: 300px;
    }
}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {}