.story-of-samley {
    padding: 30px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.story-of-samley .head {
    color: var(--color-text-secondary);
    font-weight: 500;
}

/* =========================
   Small devices (≥576px)
   ========================= */
@media (min-width: 576px) {
    .story-of-samley {
        padding: 30px 24px;
    }
}

/* =========================
   Medium devices / Tablets (≥768px)
   ========================= */
@media (min-width: 768px) {
    .story-of-samley {
        padding: 32px 36px;
    }

    .story-of-samley p {
        width: 80%;
    }

    .story-of-samley img {
        height: 188px;
    }
}

/* =========================
   Large devices / Laptops (≥992px)
   ========================= */
@media (min-width: 992px) {
    .story-of-samley {
        padding: 60px 80px;
    }

    .story-of-samley p {
        width: 80%;
    }
}

/* =========================
   Extra large devices / Desktops (≥1200px)
   ========================= */
@media (min-width: 1200px) {
    .story-of-samley {
        padding: 60px 80px;
    }
}

/* =========================
   2XL screens (≥1400px)
   ========================= */
@media (min-width: 1400px) {
    .story-of-samley {
        padding: 80px 100px;
    }
}

.story-of-samley p {
    width: 80%;
    max-width: 1100px;
}